<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="training-task"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.trainingtask.entity.Customer</class>
        <class>com.company.trainingtask.entity.Individual</class>
        <class>com.company.trainingtask.entity.Company</class>
        <class>com.company.trainingtask.entity.CarServiceCenter</class>
        <class>com.company.trainingtask.entity.City</class>
        <class>com.company.trainingtask.entity.Employee</class>
        <class>com.company.trainingtask.entity.Repair</class>
    </persistence-unit>
</persistence>
